.auth {
    height: calc(100vh - 70px);
    margin-top: 70px;
    background-color: ghostwhite;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 100px;
        .form {
            width: 30%;
            margin: 0 auto;
            h2 {
                font-size: 25px;
                letter-spacing: 2px;
                text-align: center;
                color: $color4;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            form {
                padding: 30px 0;
                .form-group {
                    label {
                        display: block;
                        font-size: 16px;
                        color: $color4;
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
                    input {
                        width: 100%;
                        margin-bottom: 30px;
                        border: none;
                        box-shadow: 0 0 3px 0 $color4;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                    #remember {
                        width: 30px;
                        margin-top: 30px;
                        box-shadow: none;
                    }
                    .check-label {
                        display: inline;
                        font-size: 16px;
                    }
                    #password {
                        margin-bottom: 5px;
                    }
                    .forgot {
                        color: $color3;
                        font-size: 12px;
                        padding-left: 20px;
                        font-weight: 600;
                    }
                }
                .form-button {
                    display: flex;
                    justify-content: center;
                    padding-top: 30px;
                    button {
                        font-size: 16px;
                        padding: 10px 20px;
                        border-radius: 10px;
                        background-color: $color4;
                        color: #fff;
                        border: none;
                        box-shadow: 0 0 3px 0 black;
                    }
                }
            }
        }
    }
}
