main {
    margin-top: 70px;
    background-color: $color5;
    .section-one {
        width: 100%;
        position: relative;
        background-image: url('../../../img/travel.jpg');
        background-size: cover;
        height: calc(100vh - 70px);
        filter: saturate(50%);
        .search-bar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            form {
                display: flex;
                .form-group {
                    position: relative;
                    #address {
                        width: 50vw;
                        border-radius: 10px;
                        border: none;
                        box-shadow: 0 0 10px 0 black;
                    }
                    .form-button{
                        position: absolute;
                        right: 0;
                        top: 0;
                        .btn-search {
                            padding: 8px 30px;
                            bottom: 0;
                            background-color: $color4;
                            color: $color1;
                            border: none;
                            font-size: 20px;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    .section-two {
        height: calc(100vh - 70px);
        .container {
            max-width: 1200px;
            margin: 0 auto;
            .title {
                padding: 100px 0;
                h2 {
                    text-align: center;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    margin: 0 10px;
                    color: $color4;
                    font-size: 30px;
                    font-weight: 800;
                    letter-spacing: 3px;
                    &:before, &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 50%;
                        height: 1px;
                        content: '\a0';
                        background-color: $color4;
                    }
                    &:before {
                        margin-left: -52%;
                        text-align: right;
                    }
                    &:after {
                        margin-left: 2%;
                    }
                }
            }
            .box {
                .owl-stage-outer {
                    .owl-item {
                        transition-duration: 0.3s;
                        .card {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            align-items: center;
                            h3 {
                                font-size: 15px;
                                text-align: center;
                                color: $color4;
                                padding: 40px 20px 0;
                            }
                            img {
                                height: 200px;
                                width: 200px;
                                border-radius: 50%;
                                box-shadow: 0px 3px 3px 0 black;
                            }
                        }
                    }
                }
                .owl-nav {
                    display: none;
                }
                .owl-dots {
                    padding-top: 100px;
                    span {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
