a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.alert {
    position: fixed;
    z-index: 99;
    top: 75px;
    left: 5px;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
}
.alert-success {
    background-color: green;
}
.alert-danger {
    background-color: #660000;
    color: $color1;
    font-weight: bold;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hidden {
    display: none;
}
