@media screen and (max-width: 992px) {
    main {
        .section-one {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 70vw;
                        }
                    }
                }
            }
        }
        .section-three {
            height: 730px;
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        .section-one {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 80vw;
                        }
                    }
                }
            }
        }
        .section-two {
            .container {
                .title {
                    h2 {
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .section-three {
            height: 1450px;
            .container {
                .title {
                    h2 {
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
                .grid {
                    .gallery {
                        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
                        grid-template-rows: minmax(auto, auto);
                    }
                }
            }
        }
    }
    footer {
        .container {
            .tools {
                .tls {
                    flex-basis: 50%;
                    padding-left: 50px;
                    h4 {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    main {
        .section-three {
            height: 1230px;
            .container {
                .grid {
                    .gallery {
                        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
                        grid-template-rows: minmax(auto, auto);
                    }
                }
            }
        }
    }
    footer {
        .container {
            .tools {
                .tls {
                    padding-left: 20px;
                }
            }
        }
    }
}
