@media screen and (max-width: 992px) {
    main {
        .section-one {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 70vw;
                        }
                    }
                }
            }
        }
        .section-three {
            height: 730px;
        }
        .section-four {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 70vw;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        .section-one {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 80vw;
                        }
                    }
                }
            }
        }
        .section-two {
            .container {
                .title {
                    h2 {
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .section-three {
            height: 1450px;
            .container {
                .title {
                    h2 {
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
                .grid {
                    .gallery {
                        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
                        grid-template-rows: minmax(auto, auto);
                    }
                }
            }
        }
        .section-four {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 80vw;
                        }
                    }
                }
            }
        }
        .section-six {
            .container {
                .results {
                    flex-basis: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .result {
                        flex-basis: 50%;
                        &:not(:last-child) {
                            border-bottom: none;
                        }
                    }
                }
                .map {
                    flex-basis: 100%;
                    padding: 30px;
                }
            }
        }
    }
    footer {
        .container {
            .tools {
                .tls {
                    flex-basis: 50%;
                    padding-left: 50px;
                    h4 {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    main {
        .section-three {
            height: 1230px;
            .container {
                .grid {
                    .gallery {
                        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
                        grid-template-rows: minmax(auto, auto);
                    }
                }
            }
        }
        .section-four {
            .search-bar {
                form {
                    .form-group {
                        #address {
                            width: 95vw;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .section-five {
            .container {
                form {
                    .form-group.form-input {
                        padding-right: 0;
                    }
                    .form-group.form-button {
                        padding-left: 0;
                    }
                }
            }
        }
        .section-six {
            .container {
                .results {
                    .result {
                        flex-basis: 100%;
                        &:not(:last-child) {
                            border-bottom: 2px inset $color2;
                        }
                    }
                }
                .map {
                    flex-basis: 100%;
                    padding: 30px;
                }
            }
        }
    }
    footer {
        .container {
            .tools {
                .tls {
                    padding-left: 20px;
                }
            }
        }
    }
}
