// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* .hidden {
    display: none;
    position: relative;
}

.checked::before {
    content: '\00A7';
    position: absolute;
}
 */

.sponsor {
    display: none;
}

.sponsor.visible {
    display: block;
}
