* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(270deg, #84a9ac 0%, #204051 75%);
}

nav img {
  height: 50px;
}

nav .btn {
  margin-left: 20px;
}

#create-apt {
  margin: 30px 0;
}

.input-services {
  margin-right: 20px;
}

.final-button {
  margin: 30px 0 100px;
}

.table-index {
  margin-bottom: 100px;
}

